html, body{
    margin:0 auto;
    padding:0;
    display: table;
    height: 100%;
    width:100%;
}


@font-face{
    font-family: "myfont";
    src: url(font/SPINC___.TTF);
    font-family: "abel-regular";
    src: url(font/Abel-Regular.ttf)
}
a, ul{
    text-decoration: none;
    list-style-type: none;
}
.container{
    padding: 0px;
    height: auto;
}

.banner{
    width: 100%;
    height: 550px;
    background-image: url('../images/banner-cover.jpg');
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: transparent;
    margin: -20px auto;
}


.nav-left{
    width:180px;
    height: 70px;
    float: left;
}
.nav-left .logo{
    width: 100%;
    height:100%;
    text-align: center;
    background-color: #b3423b;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.nav-left h1{
    font-size: 20px;
    text-align: center;
    font-family: "myfont", sans-serif;
    color: white;
    margin-top: 35px;
}
.nav-right{
    float: right;
}
.nav-right #home, .nav-right #login, .nav-right #signup{
    display: none;
}
.nav-right #menu-icon{
    width:50px;
}
.nav-right #menu-icon a{
    display: block;
}

.nav-right #menu-icon img{
    width: 30px;
    margin: 20px auto;
}

.menu-list{
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 10%;
    display: none;
}

.menu-list #menu-header{
    width: 100%;
    height:60px;;
    background-color: #b3423b;
}

.menu-list #menu-header-img{
    width: 50px;
    margin-top:10px;
    margin-left: 10px;
    display: inline-block;
}
.menu-list #menu-list-header{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 70px;
    position: absolute;
    color: white;
    font-family: myfont;
}

.menu-list #close{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    float: right;
    margin-top: 20px;
    color: white;
    font-family: myfont;
}
.menu-list #close:hover{
    cursor: pointer;
    font-size: 22px;
}
.menu-list li{
    padding: 15px;
    border-bottom: 2px solid lightgray;
    display: block;
    margin-left: -40px;
    font-family: myfont;
}
.menu-list img{
    width: 40px;
}

.menu-list #close{
    float: right;
    margin-right: 10px;
}

.banner-text{
    width: 50%;
    height: auto;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, .6);
}

.banner-text h2{
    text-align: center;
    font-family: abel-regular;
    font-size: 40px;
}
.banner-search-box{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .6);
}
.banner-search-box input{
    width: 70%;
    height: 50px;
}
h3{
    text-align: center;
    font-family: abel-regular;
    color: black;
    font-size: 20px;
}
.btn{
    width:27%;
    height: 54px;
    background-color:rgba(0, 0, 0, .6);
    display: inline-block;
    float: right;
    text-align: center;
    line-height: 3em;
}
.btn a{
    color: white;
}

.orderflowheader{
    width: 100%;
    height: 60px;
    background-color: #b3423b;
    line-height: 3.5em;
    margin-top: -21px;
    
}

.orderflowheader h3{
    color: white;
}
.slides-container{
    width: 80%;
    height: auto;
    position: relative;
    display: grid;
    justify-content: center;
    margin-left: 35px;
    margin-top: 40px;
}
.slides{
    display: none;
}
.slide-number{
    position: absolute;
    padding: 8px 12px;
    color:#b3423b;
}
.slide-caption{
    text-align: center;
    font-size:14px;
    padding: 8px 16px;
}
.prev, .next{
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.next{
    right:0;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.mobile-app-ad{
    width: 100%;
    height: 250px;
    background-image: url('../images/phonefood1.jpg');
    background-size:cover;
    background-position: center;
    margin-top: 35px;
    display: grid;
    justify-content: center;
}

.mobile-app-ad h3{
    font-size: 24px;
    background-color:rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 10px;
}

.mobile-app-ad #h3{
    margin-top: -10px;
}

footer{
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    color: white;
    line-height: 5em;
    display: table-row;
}

@media only screen and (min-width:1026px){
    html, body{
        margin:0 auto;
        padding:0;
        display: table;
        height: 100%;
        width:100%;
    }
    .slides-container{
        width: 80%;
        height: auto;
        position: relative;
        display: grid;
        justify-content: center;
        margin: 40px auto;
    }
    .slides-container .slides{
        width: 90%;
    }
    .slides-container .slides img{
        width: 250px;
    }

    .slide-caption{
        font-size: 20px;
        
    }
    .btn{
        width:29%;
    }
    .menu-list{
        width: 25%;
        height: auto;
        background-color: white;
        position: absolute;
        top: 10%;
        right: 0%;
        display: none;
    }
    
    .menu-list #menu-header{
        width: 100%;
        height:60px;;
        background-color: #b3423b;
    }
    
    .menu-list #menu-header-img{
        width: 50px;
        margin-top:10px;
        margin-left: 10px;
        display: inline-block;
    }
    .menu-list #menu-list-header{
        display: inline-block;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 70px;
        position: absolute;
        color: white;
        font-family: myfont;
    }
    
    .menu-list #close{
        display: inline-block;
        font-size: 20px;
        text-transform: uppercase;
        float: right;
        margin-top: 20px;
        color: white;
        font-family: myfont;
    }
    .menu-list #close:hover{
        cursor: pointer;
        font-size: 22px;
    }
    .menu-list li{
        padding: 15px;
        border-bottom: 2px solid lightgray;
        display: block;
        margin-left: -40px;
        font-family: myfont;
    }
    .menu-list img{
        width: 40px;
    }
    
    .menu-list #close{
        float: right;
        margin-right: 10px;
    }

}
