html, body{
    margin: 0;
    display: table;
    height: 100%;
    width:100%;
}
body{
    background-image: url('../images/food2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.container{
    padding: 0px;
    height: auto;
}

.nav-left img{
    width: 70px;
    float: left;
    margin-left:-20px;
    margin-top: 10px;
    display: block;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: #E4c9a1;
    margin: -20px auto;
}

.nav-right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:-webkit-sticky;
    position:sticky;
    width: 200px;
    float: right;
}
.nav-right li {
    display: inline-block;
    margin-left: 10px;  
}
.nav-right li a{
    display: block;
    color: #BB4410;
    text-decoration: none;
    font-size: 16px;
    line-height: 5em;
    
}

.nav-right li a:hover{
    background-color: #f5af4f;
}

.loginform{
    width: 90%;
    height: 500px;
    margin: 60px auto;
    background-color: white;
    border-top: 2px solid #BB4410;
    border-bottom: 2px solid #BB4410;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "avatar avatar"
                         "form-wrapper form-wrapper"
}
.login-avatar{
    grid-area: avatar;
    width:100px;
    height:90px;
    margin: auto;
}
.login-avatar img{
    margin:15px auto;
    width: 80px;
    margin-left: 10px;
}

.form-wrapper{
    grid-area: form-wrapper;
    width: 85%;
    height: 300px;
    margin:20px auto;
    box-shadow: 5px 5px 5px 3px black;
    border-radius: 5px;
}

.form-wrapper  #username{
    margin-bottom: 10px;
       
}

.form-wrapper  #username-label{
    font-size: 16px;    
}


.form-wrapper #password-label{
    font-size: 16px;
}
.form-wrapper form{
   margin-top:30px; 
   margin-left: 10px;  
}
.form-wrapper input{
   width: 95%;
   height: 40px;
   float: left;
   margin-top: 20px;
  
}

.form-wrapper #checkbox{
    width:10px;
    height: 10px;
    margin-top:20px;
    float: left;
}
.form-wrapper #checkbox-label{
    width:100px;
    height: 10px;
    margin-top:15px;
    float: left;
}

.btn{
    width:40px;
    height: 15px;
    padding: 10px;
    background-color:black;
    margin: 10px 12px;
    text-align: center;
    line-height: 1em;
    font-weight:30px;
    float: right;  
}
.btn a{
    display: block;
    color: white;
    font-size: 12px;
}


footer{
    background-color:#E4c9a1;
    display: table-row;
    height: 50px;
    text-align: center;
    color: #BB4410;
    line-height: 4em;
}

@media only screen and (min-width:768px){
    body{
        background-image: url('../images/food2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .loginform{
        width: 50%;
        height: 510px;
        margin: 150px auto;
        background-color: rgba(255, 202 92, 0.4);
        border-top: 2px solid #BB4410;
        border-bottom: 2px solid #BB4410;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "avatar avatar"
                             "form-wrapper form-wrapper"
    }
    .form-wrapper{
        grid-area: form-wrapper;
        width: 70%;
        height: 300px;
        margin:20px auto;
        box-shadow: 5px 5px 5px 3px black;
        border-radius: 5px;
    }
}
@media only screen and (min-width:1023px){
    body{
        background-image: url('../images/food2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .loginform{
        width: 30%;
        height: auto;
        margin: 150px auto;
        background-color: transparent;
        border: 2px solid #BB4410;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "avatar avatar"
                             "form-wrapper form-wrapper"
    }
    .login-avatar img{
        margin:20px auto;
        width: 80px;
        margin-left: 10px;
    }
    .form-wrapper #checkbox{
        width:10px;
        height: 10px;
        margin-top:20px;
        margin-left:5px;
        float: left;
    }
    .form-wrapper form{
        margin-top:40px; 
        margin-left: 10px; 
        padding-top:20px; 
     }
    .form-wrapper{
        grid-area: form-wrapper;
        width: 80%;
        height: auto;
        margin:20px auto;
        box-shadow: 5px 5px 5px 3px black;
        border-radius: 5px;
    }
}
@media only screen and (min-width:1026px){
    body{
        background-image: url('../images/food2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .loginform{
        width: 25%;
        height: auto;
        margin: 150px auto;
        background-color: transparent;
        border: 2px solid #BB4410;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "avatar avatar"
                             "form-wrapper form-wrapper"
    }
    .login-avatar img{
        margin:20px auto;
        width: 80px;
        margin-left: 10px;
    }
    .form-wrapper #checkbox{
        width:10px;
        height: 10px;
        margin-top:20px;
        margin-left:5px;
        float: left;
    }
    .form-wrapper form{
        margin-top:40px; 
        margin-left: 10px; 
        padding-top:20px; 
     }
    .form-wrapper{
        grid-area: form-wrapper;
        width: 80%;
        height: auto;
        margin:20px auto;
        box-shadow: 5px 5px 5px 3px black;
        border-radius: 5px;
    }
}