html, body{
    margin:0 auto;
    padding:0;
    display: table;
    height: 100%;
    width:100%;
}


@font-face{
    font-family: "myfont";
    src: url(font/SPINC___.TTF);
    font-family: "abel-regular";
    src: url(font/Abel-Regular.ttf)
}
a, ul{
    text-decoration: none;
    list-style-type: none;
}

.container{
    padding: 0px;
    height: auto;
}

.banner{
    width: 100%;
    height: 200px;
    background-image: url('../images/food1.jpg');
    background-color: rgb(38, 184, 45, 0.2);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: transparent;
    margin: -20px auto;
}


.nav-left{
    width:180px;
    height: 70px;
    float: left;
}
.nav-left .logo{
    width: 100%;
    height:100%;
    text-align: center;
    background-color: rgb(38, 184, 45);
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.nav-left h1{
    font-size: 20px;
    text-align: center;
    font-family: myfont;
    color: white;
    margin-top: 35px;
}
.nav-right{
    float: right;
}
.nav-right #home, .nav-right #login, .nav-right #signup{
    display: none;
}
.nav-right #menu-icon{
    width:50px;
}
.nav-right #menu-icon a{
    display: block;
}

.nav-right #menu-icon img{
    width: 30px;
    margin: 20px auto;
}

.food-type{
    width: 100%;
    margin-top: 140px;
    border-bottom: 2px solid rgba(0,0,0,0.5);
}
.food-type ul{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

.food-type ul li{
    width: 100%;
    display: inline;
    margin:auto 5px;
    padding: 10px;
}
.food-type ul li a {
    display: inline-block;
}

.food-type ul li:hover {
    background-color: rgb(38, 184, 45, 0.5);
}


footer{
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(38, 184, 45);
    color: white;
    line-height: 5em;
    display: table-row;
}