*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width:80px;
}

a{
   text-decoration: none;
   color: black; 
}
ul{
    list-style-type: none;
}

.bigwrapper{
    display: grid;
    width:100%;
    min-height: 600px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "nav nav nav nav nav nav"
                         "header header header header header header"
                         "adminprofile adminprofile adminprofile adminprofile adminprofile adminprofile"
                         "userprofile userprofile userprofile userprofile userprofile userprofile"
                         "orderlist orderlist orderlist orderlist orderlist orderlist"
                         "footer footer footer footer footer footer";
}

.nav{
    grid-area: nav;
    margin-top:10px;
    width:100%;
    height: 80px;
    background-color:white;
    border-bottom: 2px solid red;
    
}
.nav #left-nav{
    display: inline-block;
    margin-top:px;
    float: left;
}

.nav #left-nav li{
    
    display: inline-block;
    font-size: 8px;
    text-transform: uppercase;
    border-left: 2px solid red;
    margin-left: 0px;
    
}
.nav #left-nav li a{
   margin-left: 5px; 
   display: block;
   line-height: 5em;   
}
.nav #left-nav li img{
    width: 70px;
    margin-top: 7px;
}
.nav #right-nav{
    display: inline-block;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    
}
.nav #right-nav li a{
    text-transform: uppercase;
}
.header-wrapper{
    grid-area: header;
    width: 100%;
    height: 80px;
    background-color: red;
    margin-top: 10px;
}
.header-left{
    float:left;
    margin: 0px 0 0 5px;
    margin-top: 20px;
}
.header-left span{
    font-size: 18px;
    color: white;
}

.header-left #user-status{
    font-size: 12px;
    color: white;   
}
.header-right{
    float:right;
    margin: 0px 5px 0 0px;
}
.header-right span{
    font-size: 35px;
    color: white;
    line-height: 2em;
}

.header-wrapper span a{
    color: white;
    display: block;
    cursor: pointer;
}

.header-wrapper span a:hover{
    font-weight: bold;
}

.profile{
    grid-area: adminprofile;
    width: 95%;
    height: 200px;
    background-color: #FFF799;
    margin:10px auto;
}

.profilehead{
    width: 100%;
    height: 30px;
    background-color: #FFF799;
    border-bottom: 2px solid red;
}

.profilehead h4{
    color: black;
    line-height: 2em;
}
.profile-details-wrapper{
    width: 100%;
}

.profile-details-wrapper h3{
    font-size: 20px;
    text-transform: uppercase;
}
.profile-details-left{
    float: left;
}
.profile-details-left h4, .profile-details-right h4{
    margin-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
}
.profile-details-left p, .profile-details-right p{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.profile-details-right p{
    margin-left: 80px;
}
.profile-details-right{
    float: right;
    
}

.userprofile{
    grid-area: userprofile;
    width: 95%;
    height: 200px;
    background-color: #FFF799;
    margin:10px auto;
}

.orderlist{
    grid-area: orderlist;
    width: 100%;
    min-height: 350px;
    display: block;
    
    

}

.listhead{
    width: 100%;
    height: 30px;
    background-color: #FFF799;
    border-bottom: 2px solid red;
    
}

.listhead h4{
    color: black;
    line-height: 2em;
    text-transform: uppercase;
    margin-left: 5px;
}



.list-details-wrapper{
    display: grid;
    width: 100%;
    min-height:220px;
    background-color: white;
    margin-top: 10px;
    border-bottom: 2px solid gray;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "leftlist rightlist rightlist list-details-btn";
}

.list-details-left{
    grid-area: leftlist;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 2em;
    margin-left:5px;
}
.list-details-right{
    grid-area: rightlist;
    font-size: 14px;
    line-height: 2em;
    margin-left:50px;
}
.list-details-btn{
    grid-area:list-details-btn;
}

.btn{
    min-width:70px;
    height: 20px;
    padding: 10px;
    background-color: purple;
    margin: 5px auto;
    text-align: center;
    line-height: 1em;
    font-weight:30px;
    
}

.btn a{
    display: block;
    color: white;
}

.btn:hover, .btn a:hover{
    background-color: green;
    color: white;
}

#sidebar{
    width:40%;
    min-height:70%;
    background-color: #FFF799;
    float: right;
    position: absolute;
    top:33%;
    right: 0%;
    display: none;
    
    z-index: 11;
}
.sidebardiv{
    margin: 35px auto;
    text-align: center;
    line-height: 2.5em;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.sidebaroptions{
    display: block;
    font-size: 16px;
}
.list-details-wrapper-edit{
    display: grid;
    width: 100%;
    min-height:220px;
    background-color: white;
    margin-top: 10px;
    border-bottom: 2px solid gray;
    justify-content: center;
   
}
.landing-page-items{
    margin-left: 13px;
}
.landing-page-items li{
    display: inline-block;
}

.landing-page-items li span{
    display: inline-block;
    max-width: 100px;
    text-align: center;
    padding: 5px;
    margin:0 auto;
}

footer{
    grid-area: footer;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: red;
    color: white;
    margin-top:100px;
}


footer span{
    line-height: 3em;
}

@media only screen and (min-width:642px){
    .bigwrapper{
        display: grid;
        width:100%;
        min-height: 600px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "nav nav nav nav nav nav"
                             "header header header header header header"
                             "adminprofile adminprofile adminprofile userprofile userprofile userprofile "
                             "orderlist orderlist orderlist orderlist orderlist orderlist"
                             "footer footer footer footer footer footer";
    }
    .list-details-left{
        font-size: 16px;
    }
    .list-details-right{

        font-size: 16px;
      
    }                     
                             
}
@media only screen and (min-width:767px){
    .bigwrapper{
        display: grid;
        width:100%;
        min-height: 600px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "nav nav nav nav nav nav"
                             "header header header header header header"
                             "adminprofile adminprofile adminprofile userprofile userprofile userprofile "
                             "orderlist orderlist orderlist orderlist orderlist orderlist"
                             "footer footer footer footer footer footer";
    }
    .list-details-wrapper{
        display: grid;
        width: 100%;
        min-height:220px;
        background-color: white;
        margin-top: 10px;
        border-bottom: 2px solid gray;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "leftlist leftlist leftlist leftlist leftlist"
                             "rightlist rightlist rightlist rightlist rightlist "
                             " list-details-btn list-details-btn list-details-btn list-details-btn list-details-btn"
    }
    .list-details-left{
        font-size: 14px;
        line-height: 3em;
        margin-left:5px;
        
    }
    .list-details-right{
        grid-area: rightlist;
        font-size: 14px;
        line-height: 2em;
        margin-left:5px;
        margin-top: 5px;
    }

    .list-details-wrapper .list-details-left ul{
        width: 100%;
        margin-left: 10px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 120px 90px 190px 200px 100px 90px 95px;
        grid-template-areas: "date user designation dish drink qty status";
        
        
    }
    .list-details-wrapper .list-details-right ul{
        width: 100%;
        margin-left: 10px;
        display: grid;
        grid-template-columns: 120px 90px 190px 200px 100px 90px 90px; 
        grid-template-areas: "date user designation dish drink qty status";
        background-color:white;
        
    }

    .date{
        grid-area: date;
        
        
        
    }
    .user{
        grid-area: user;
        
       
    }
    .designation{
        grid-area: designation;
        
       
    }
    .dish{
        grid-area: dish;
        
       
    }
    .drink{
        grid-area: drink;
       
        
    }
    .qty{
        grid-area: qty;
        
       
    }

    .status{
        grid-area: status;

    }
    .list-details-wrapper ul li{
        display: inline-block;
        
    }
   
    .list-details-left ul li{
        margin-left: 0px;
        
    }
    .list-details-right ul li{
        margin-left: 0px;
        
    }
    .list-details-btn{
        grid-area:list-details-btn;
        margin: 0 auto;
    }  
    
    .list-details-wrapper-edit{
        display: grid;
        width: 100%;
        min-height:220px;
        background-color: white;
        margin-top: 10px;
        border-bottom: 2px solid gray;
        justify-content: center;
    }
    .landing-page-items li{
        display: inline-block;
    }
    
    .landing-page-items li span{
        display: block;
        max-width: 100px;
        text-align: center;
        padding: 5px;
        margin-left: 10px;
    }

    #sidebar{
        width:17%;
        height:100vh;
        background-color: white;
        float: right;
        position: absolute;
        top:15%;
        right: 0%;
        display: none;
        
        z-index: 11;
    }
    .sidebardiv{
        margin: 35px auto;
        text-align: center;
        line-height: 3em;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }
    .sidebaroptions{
        display: block;
        font-size: 16px;
    }
    footer{
        grid-area: footer;
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: red;
        color: white;
        margin-top:200px;
        margin-bottom: -170px;
    }

                             
}
@media only screen and (min-width:1024px){
    .bigwrapper{
        display: grid;
        width:100%;
        min-height: 1450px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: ". nav nav nav nav ."
                             ". header header header header ."
                             ". adminprofile adminprofile userprofile userprofile . "
                             ". orderlist orderlist orderlist orderlist ."
                             ". footer footer footer footer .";
    }
    .list-details-wrapper{
        display: grid;
        width: 100%;
        min-height:220px;
        background-color: white;
        margin-top: 10px;
        border-bottom: 2px solid gray;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "leftlist leftlist leftlist leftlist leftlis"
                             "rightlist rightlist rightlist rightlist rightlist "
                             " list-details-btn list-details-btn list-details-btn list-details-btn list-details-btn"
    }

    .list-details-wrapper .list-details-left ul{
        width: 100%;
        margin-left: 15px;
        display: grid;
        grid-template-columns: 120px 90px 190px 200px 100px 90px 100px;
        grid-template-areas: "date user designation dish drink qty status";
        
        
    }
    .list-details-wrapper .list-details-right ul{
        width: 100%;
        margin-left: 15px;
        display: grid;
        grid-template-columns: 120px 90px 190px 200px 100px 90px 100px; 
        grid-template-areas: "date user designation dish drink qty status";
        
        
    }

    .date{
        grid-area: date;
        
        
        
    }
    .user{
        grid-area: user;
        
       
    }
    .designation{
        grid-area: designation;
        
       
    }
    .dish{
        grid-area: dish;
        
       
    }
    .drink{
        grid-area: drink;
       
        
    }
    .qty{
        grid-area: qty;
        
       
    }

    .status{
        grid-area: status;

    }
    .list-details-wrapper ul li{
        display: inline-block;
        
    }
    .list-details-left{
        font-size: 16px;
        line-height: 4em;
        margin-left:5px;
        
    }
    .list-details-right{
        grid-area: rightlist;
        font-size: 16px;
        line-height: 2em;
        margin-left:5px;
        margin-top: 5px;
    }
    .list-details-left ul li{
        margin-left: 0px;
        
    }
    .list-details-right ul li{
        margin-left: 0px;
        
    }
    .list-details-btn{
        grid-area:list-details-btn;
        margin: 0 auto;
    }
    
    #sidebar{
        width:17%;
        height:100vh;
        background-color: white;
        float: right;
        position: absolute;
        top:13%;
        right: 0%;
        display: none;
        
        z-index: 11;
    }
    .sidebardiv{
        margin: 35px auto;
        text-align: center;
        line-height: 3em;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }
    .sidebaroptions{
        display: block;
        font-size: 16px;
    }
    footer{
        grid-area: footer;
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: red;
        color: white;
        margin-top:300px;
        margin-bottom: -140px;
    }
                             
}
