*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width:80px;
}

a{
   text-decoration: none;
   color: black; 
}
ul{
    list-style-type: none;
}

.bigwrapper{
    display: grid;
    width:100%;
    min-height: 600px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "nav nav nav nav nav nav"
                         "header header header header header header"
                         "userprofile userprofile userprofile userprofile userprofile userprofile"
                         "adminprofile adminprofile adminprofile adminprofile adminprofile adminprofile"
                         "orderlist orderlist orderlist orderlist orderlist orderlist"
                         "footer footer footer footer footer footer";
}

.nav{
    grid-area: nav;
    margin-top:10px;
    width:100%;
    height: 80px;
    background-color:white;
    border-bottom: 2px solid red;
    
}
.nav #left-nav{
    display: inline-block;
    margin-top:px;
    float: left;
}

.nav #left-nav li{
    
    display: inline-block;
    font-size: 8px;
    text-transform: uppercase;
    border-left: 2px solid red;
    margin-left: 0px;
    
}
.nav #left-nav li a{
   margin-left: 5px; 
   display: block;
   line-height: 5em;   
}
.nav #left-nav li img{
    width: 70px;
    margin-top: 7px;
}
.nav #right-nav{
    display: inline-block;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    
}
.nav #right-nav li a{
    text-transform: uppercase;
}
.header-wrapper{
    grid-area: header;
    width: 100%;
    height: 80px;
    background-color: red;
    margin-top: 10px;
}
.header-left{
    float:left;
    margin: 0px 0 0 5px;
    margin-top: 20px;
}
.header-left span{
    font-size: 18px;
    color: white;
}

.header-left #user-status{
    font-size: 12px;
    color: white;   
}
.header-right{
    float:right;
    margin: 0px 5px 0 0px;
}
.header-right span{
    font-size: 35px;
    color: white;
    line-height: 2em;
}

.header-wrapper span a{
    color: white;
    display: block;
    cursor: pointer;
}

.header-wrapper span a:hover{
    font-weight: bold;
}

.profile{
    grid-area: adminprofile;
    width: 95%;
    height: 200px;
    background-color: #FFF799;
    margin:10px auto;
}

.profilehead{
    width: 100%;
    height: 30px;
    background-color: #FFF799;
    border-bottom: 2px solid red;
}

.profilehead h4{
    color: black;
    line-height: 2em;
}
.profile-details-wrapper{
    width: 100%;
}

.profile-details-wrapper h3{
    font-size: 20px;
    text-transform: uppercase;
}
.profile-details-left{
    float: left;
}
.profile-details-left h4, .profile-details-right h4{
    margin-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
}
.profile-details-left p, .profile-details-right p{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.profile-details-right p{
    margin-left: 80px;
}
.profile-details-right{
    float: right;
    
}

.userprofile{
    grid-area: userprofile;
    width: 95%;
    height: 200px;
    margin:10px auto;
}

.userprofile #userimage{
    width: 70%;
    height: 200px;
    margin: 0 auto;
    background-color: red;
}


.userprofile img{
    width: 100%;
    height: 200px;
    
}

.orderlist{
    grid-area: orderlist;
    width: 100%;
    min-height: 350px;
    display: block;
    
    

}

.listhead{
    width: 100%;
    height: 30px;
    background-color: red;
    border-bottom: 2px solid grey
    
}

.listhead h4{
    color: black;
    line-height: 2em;
    text-transform: uppercase;
    margin-left: 5px;
}

.list-header{
    width: 100%;
    background-color: grey;
}
.list-header ul{
    display: grid;
    text-transform: uppercase;
    line-height: 2em;
    font-size: 10px;
    font-weight: bold;
    grid-template-columns: 50px 50px 90px 60px 40px 30px 50px;
    grid-template-areas: "date user designation dish drink qty status";
}
.list-details-container{
    background-color: white;
    min-height: 120px;
    width: 98%;
    margin-left: 5px;
}
.list-details{
    width: 100%;
    background-color: lightgray;
}
.list-details ul{
    display: grid;
    font-size: 10px;
    line-height: 2em;
    grid-template-columns: 50px 50px 90px 60px 40px 30px 50px;
    grid-template-areas: "date user designation dish drink qty status";
}

#sidebar{
    width:40%;
    min-height:70%;
    background-color: #FFF799;
    float: right;
    position: absolute;
    top:33%;
    right: 0%;
    display: none;
    
    z-index: 11;
}
.sidebardiv{
    margin: 35px auto;
    text-align: center;
    line-height: 2.5em;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.sidebaroptions{
    display: block;
    font-size: 16px;
}
footer{
    grid-area: footer;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: red;
    color: white;
    margin-top:50px;
}


footer span{
    line-height: 3em;
}

@media only screen and (min-width:642px){
    .bigwrapper{
        display: grid;
        width:100%;
        min-height: 600px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "nav nav nav nav nav nav"
                             "header header header header header header"
                             "adminprofile adminprofile adminprofile userprofile userprofile userprofile "
                             "orderlist orderlist orderlist orderlist orderlist orderlist"
                             "footer footer footer footer footer footer";
    }
    .list-details-left{
        font-size: 16px;
    }
    .list-details-right{

        font-size: 16px;
      
    }                     
                             
}
@media only screen and (min-width:767px){
    .bigwrapper{
        display: grid;
        width:100%;
        min-height: 600px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "nav nav nav nav nav nav"
                             "header header header header header header"
                             "adminprofile adminprofile adminprofile userprofile userprofile userprofile "
                             "orderlist orderlist orderlist orderlist orderlist orderlist"
                             "footer footer footer footer footer footer";
    }

    .list-header{
        width: 100%;
        background-color: grey;
    }
    .list-header ul{
        display: grid;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 2em;
        font-weight: bold;
        grid-template-columns: 90px 60px 150px 110px 100px 100px 100px;
        grid-template-areas: "date user designation dish drink qty status";
    }
    .list-details-container{
        background-color: #FFF799;
        min-height: 120px;
        width: 98%;
        margin-left: 5px;
    }
    .list-details{
        width: 100%;
        background-color: lightgray;
    }
    .list-details ul{
        display: grid;
        font-size: 14px;
        line-height: 2em;
        grid-template-columns: 90px 60px 150px 110px 100px 100px 100px;
        grid-template-areas: "date user designation dish drink qty status";
    }
    .list-details-container{
        background-color: white;
        min-height: 120px;
        width: 98%;
        margin-left: 5px;
    }      
    
    
    #sidebar{
        width:15%;
        height:90vh;
        background-color: white;
        float: right;
        position: absolute;
        top:15%;
        right: 0%;
        display: none;
        z-index: 11;
    }
    .sidebardiv{
        margin: 35px auto;
        text-align: center;
        line-height: 3em;
        border-bottom: 2px solid black;
    }
    .sidebaroptions{
        display: block;
        font-size: 16px;
    }
    footer{
        grid-area: footer;
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: red;
        color: white;
        margin-top:200px;
        margin-bottom: -170px;
    }

                             
}
@media only screen and (min-width:1024px){
    .bigwrapper{
        display: grid;
        width:100%;
        min-height: 400px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: ". nav nav nav nav ."
                             ". header header header header ."
                             ". adminprofile adminprofile userprofile userprofile . "
                             ". orderlist orderlist orderlist orderlist ."
                             ". footer footer footer footer .";
    }
    .list-details-container{
        background-color: white;
        min-height: 120px;
        width: 99%;
        margin-left: 5px;
    }
        .list-header{
            width: 100%;
            background-color: grey;
        }
        .list-header ul{
            display: grid;
            text-transform: uppercase;
            line-height: 2em;
            font-weight: bold;
            grid-template-columns: 90px 60px 150px 110px 100px 100px 100px;
            grid-template-areas: "date user designation dish drink qty status";
        }
        .list-details-container{
            background-color: white;
            min-height: 120px;
            width: 98%;
            margin-left: 5px;
        }
        .list-details{
            width: 100%;
            background-color: lightgray;
        }
        .list-details ul{
            display: grid;
            line-height: 2em;
            grid-template-columns: 90px 60px 150px 110px 100px 100px 100px;
            grid-template-areas: "date user designation dish drink qty status";
        }
        
    

    .date{
        grid-area: date;
        
        
        
    }
    .user{
        grid-area: user;
        
       
    }
    .designation{
        grid-area: designation;
        
       
    }
    .dish{
        grid-area: dish;
        
       
    }
    .drink{
        grid-area: drink;
       
        
    }
    .qty{
        grid-area: qty;
        
       
    }

    #sidebar{
        width:15%;
        height:90vh;
        background-color: white;
        float: right;
        position: absolute;
        top:15%;
        right: 0%;
        display: none;
        z-index: 11;
    }
    .sidebardiv{
        margin: 35px auto;
        text-align: center;
        line-height: 3em;
        border-bottom: 2px solid black;
    }
    .sidebaroptions{
        display: block;
        font-size: 16px;
    }
    footer{
        grid-area: footer;
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: red;
        color: white;
        margin-top:400px;
        
    }

                             
}
